<h1>Redis File</h1>

<dl>
  <dt>Key:</dt>
  <dd><%= @redis_file.key %></dd>

  <dt>Name:</dt>
  <dd><%= @redis_file.name %></dd>

  <dt>Size:</dt>
  <dd><%= @redis_file.size %></dd>

  <dt>Type:</dt>
  <dd><%= @redis_file.type %></dd>
</dl>